# Basics
*.py[cod]
*.pyc
00*
migrations/0*
build/
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

# local settings
#local.py

# runserver
runserver.sh

#media
media

#DB
*.rdb

.ropeproject/


*/settings/local.py
*/settings/production.py
*/settings/test.py
